.banner__buttons {
    width: 100%;
    &__btn {
        &:not(:last-child) {
            margin-right: 2rem;
        }
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: inline-flex;
        align-items: center;
        vertical-align: bottom;
        text-align: center;
        overflow: hidden;
        position: relative;
        letter-spacing: normal;
        text-transform: capitalize;
        box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
        cursor: pointer;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        touch-action: manipulation;
        border-radius: 9999px;
        color: white;
        background-color: transparent;
        padding: 1rem 2.5rem;
        font-weight: bold;
        font-size: inherit;
    }
    &--transparent {
        border: 2px solid #f90004;
        &:hover {
            border: 2px solid white;
            background-color: white;
            color: #f90004;
        }
    }
    &--solid {
        background-color: #f90004;
        &:hover {
            background-color: white;
            color: #f90004;
        }
    }
}
.grow--out {
    animation: growOut 12s ease-in forwards;
}

.carousel__container {
    position: relative;
    width: 100%;

    &__item {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        display: block;
        transition: all 0.3s linear;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;

        &__wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            &__image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
            &__content {
                background: transparent;
                position: absolute;
                color: white;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &.active {
            visibility: visible;
            opacity: 1;
        }
        &.inactive {
            visibility: hidden;
            opacity: 0;
            z-index: 0;
        }
    }

    &__controls {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        background-color: inherit;

        & > button {
            font-size: 3rem;
            color: #fff;
        }
    }

    &__indicators {
        width: auto;
        position: absolute;
        overflow: hidden;
        color: #fff;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
        & > button {
            margin: 0.3rem;
            border: 2px solid transparent;
            outline: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            transition: all 0.5s ease-in;
            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #c5c5c5;
                transition: all 0.3s ease-in-out;
            }

            &:hover,
            &.active {
                border-color: #fff;
                outline: none;
                &::after {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}

@-moz-keyframes growOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
@-webkit-keyframes growOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
@-o-keyframes growOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
@keyframes growOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
.dots {
    width: 100%;
    height: 8rem;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
}

.dot {
    border: none;
    width: 20px;
    height: 20px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

.dot:focus {
    outline: none;
}

.dot.active {
    background: #f9443e;
}

.arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
}

.arrow--left {
    left: 50px;
}

.arrow--right {
    left: auto;
    right: 50px;
}

.arrow--disabled {
    fill: rgba(255, 255, 255, 0.5);
}

.fader {
    position: relative;
    overflow: hidden;
    height: inherit;
}

.fader__slide {
    width: 100%;
    height: 100%;
    position: absolute;
}

.fader img {
    background-color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.banner__static {
    position: relative;
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    object-fit: contain;
    &.about {
        background-image: linear-gradient(
                to top,
                rgba(17, 17, 17, 0.775),
                rgba(17, 17, 17, 0.775)
            ),
            url("/images/homePage/storyTwo.jpg");
    }
    &.publication {
        background-image: linear-gradient(
                to top,
                rgba(17, 17, 17, 0.775),
                rgba(17, 17, 17, 0.775)
            ),
            url("/images/publish/publicbanner.jpg");
    }
    &.contact {
        background-image: linear-gradient(
                to top,
                rgba(17, 17, 17, 0.775),
                rgba(17, 17, 17, 0.775)
            ),
            url("/images/contact/contactbanner.jpg");
    }
    &.story {
        background-image: linear-gradient(
                to top,
                rgba(17, 17, 17, 0.775),
                rgba(17, 17, 17, 0.775)
            ),
            url("/images/about/story.jpg");
    }
    &.message {
        background-image: linear-gradient(
                to top,
                rgba(17, 17, 17, 0.775),
                rgba(17, 17, 17, 0.775)
            ),
            url("/images/about/message.jpg");
    }
    &.faq {
        background-image: linear-gradient(
                to top,
                rgba(17, 17, 17, 0.775),
                rgba(17, 17, 17, 0.775)
            ),
            url("/images/faq/faq.jpg");
    }
    &.services {
        background-image: linear-gradient(
                to top,
                rgba(17, 17, 17, 0.775),
                rgba(17, 17, 17, 0.775)
            ),
            url("/images/homePage/serviceTwo.jpg");
    }
    &.resources {
        background-image: linear-gradient(
                to top,
                rgba(17, 17, 17, 0.775),
                rgba(17, 17, 17, 0.775)
            ),
            url("/images/homePage/resources.jpg");
    }
    &.gallery {
        background-image: linear-gradient(
                to top,
                rgba(17, 17, 17, 0.775),
                rgba(17, 17, 17, 0.775)
            ),
            url("/images/homePage/gallery.jpg");
    }

    &__article {
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        margin-top: 4rem;
        text-align: center;
    }
}

body {
    background-color: #eee;
    color: #7a7572;
}

.title::after,
.title::before {
    content: "";
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    width: 2px;
    height: 0.75em;
    background-color: #7a7572;
    transition: all 0.2s;
}

.title::after {
    transform: rotate(90deg);
}

.content {
    max-height: 0;
}

.toggle:checked + .title,
.toggle:checked + .title + .content {
    box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
}
.toggle:checked + .title + .content {
    max-height: 500px;
}
.toggle:checked + .title::before {
    transform: rotate(90deg) !important;
}
