.footer__carousel {
    width: 100%;
    height: 5rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    &__item {
        width: 100%;
        height: 100%;
        transition: all 0.8s ease-in;
        & > img {
            width: 100%;
            height: 100%;
        }
    }
}
